<a href="https://colab.research.google.com/github/androidum/DZ3/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  robot
4  robot

In [2]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       0      1
2       1      0
3       0      1
4       0      1
5       0      1
6       1      0
7       0      1
8       1      0
9       0      1
10      0      1
11      1      0
12      0      1
13      1      0
14      1      0
15      1      0
16      1      0
17      0      1
18      0      1
19      1      0

In [3]:
def human(x):
    if x == 'human':
      return '1'
    else:
      return '0'

data['human'] = data.whoAmI.apply(human)

In [4]:
def robot(x):
    if x == 'robot':
      return '1'
    else:
      return '0'

data['robot'] = data.whoAmI.apply(robot)

In [5]:
del data['whoAmI']

In [6]:
data

   human robot
0      1     0
1      0     1
2      1     0
3      0     1
4      0     1
5      0     1
6      1     0
7      0     1
8      1     0
9      0     1
10     0     1
11     1     0
12     0     1
13     1     0
14     1     0
15     1     0
16     1     0
17     0     1
18     0     1
19     1     0